{% extends 'index.html.twig' %}
{% block backNavbar %}
    <section class="breadcumb-area jarallax bg-img af" data-jarallax-original-styles="null" style="z-index: 0; background-image:url(https://images.alphacoders.com/860/860767.jpg); background-attachment: scroll; background-size: auto;">
        <div class="breadcumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="content">
                            <h2>Chasse</h2>
                            <ul>
                                <li><a href="{{ path('front') }}">Home</a></li>
                                <li><a href="javascript:void(0)">chasse</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;"><div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;file:///C:/Users/azizm/Desktop/front/front/www.webstrot.com/html/weapon/assets/images/breadcumb/bg-1.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1859.66px; height: 678px; overflow: hidden; pointer-events: none; margin-left: -321.329px; margin-top: 129px; visibility: visible; transform: translate3d(0px, -129px, 0px);"></div></div></section>
{%  endblock %}
{% block content %}
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
    <style>

        #map { position: center;  width: 1080px; height: 500px; }
        .marker {
            background-image: url('{{ asset('imagesPub/mapbox-icon.png') }}');
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;

        }
        .mapboxgl-popup {
            max-width: 250px;

        }

        .mapboxgl-popup-content {

            font-family: 'Open Sans', sans-serif;
        }
    </style>
    <div class="section-heading2">
        <h2>Table Chase</h2>
        <table id="order-listing" class="table">
            <thead>
            <tr>

                <th>Region</th>
                <th>Animal</th>
                <th>type</th>
                <th>Date Debut</th>
                <th>Date Fin</th>

            </tr>
            </thead>
            <tbody>
            {% for e in chasse %}
               {% if e.etat == 0 %}
                <tr>


                    <td >{{e.region}}</td>
                    <td> {{e.animal}}</td>
                    <td>{{e.type}}</td>
                    <td>{{e.dateDebut|date("m/d/Y")}}</td>
                    <td>{{e.dateFin|date("m/d/Y")}}</td>


                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="section-heading2">
        <h2>Map</h2>
    </div>

    <section class="price-area section bg-img jarallax">


    <div class="container">
        <div id="map"></div>

    </div>
    </section>
    <br><br><br><br><br>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoid2FsaWQxNyIsImEiOiJjazk0dWQwb24wMGRpM21xazY5YTBzanNtIn0.eFvnkX_uIx3--Cc3ZcLbZg';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [10.2378,36.0555],
            zoom: 5 // starting zoom
        });

        // Add zoom and rotation controls to the map.
        map.addControl(new mapboxgl.NavigationControl());
        var geojson =

            {
            type: 'FeatureCollection',
            features: [

                {% for i in chasse %}
                {% if i.etat == 0 %}
                {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                {% if i.region =="Bizerte" %}
                    coordinates: [9.79, 37.2467]
                {% elseif i.region =="Zaghouan" %}
                    coordinates: [10.0642, 36.3909]
                    {% elseif i.region =="Nabeul" %}
                    coordinates: [10.6489, 36.6466]
                {% endif %}
                },
                    properties: {
                        title: 'Chase dans:{{i.region}}',
                        description: 'date_d :{{i.dateDebut|date("m/d/Y")}} '+' date_f :{{i.dateFin|date("m/d/Y")}}'
                    }
            },{% endif %}

                {% endfor %}
               ]
        };
        // add markers to map
        geojson.features.forEach(function(marker) {

            // create a HTML element for each feature
            var el = document.createElement('div');
            el.className = 'marker';

            // make a marker for each feature and add to the map
            new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                    .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
                .addTo(map);
        });

    </script>
{% endblock %}