{% extends 'backoffice.html.twig' %}
{% block content %}
<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste Des Produits</h4>
                <div id="js-grid" class="pt-3 jsgrid" style="position: relative; height: 516px; width: 100%;">
                    <div class="jsgrid-grid-header jsgrid-header-scrollbar">

                        <table class="jsgrid-table">
                            <tbody>

                            <tr class="jsgrid-header-row"><th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">{{ knp_pagination_sortable(posts, 'Nom du produit', 'a.nom') }}</th>
                                <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 50px;">{{ knp_pagination_sortable(posts, 'Quantite', 'a.quantite') }}</th>
                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 200px;">{{ knp_pagination_sortable(posts, 'prix unitaire', 'a.prix') }}</th>
                                <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Action</th>

                            </tr>

                            {% for e in posts %}
                                <tr class="jsgrid-filter-row">
                                    <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">{{e.nom}}</td>
                                    <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">{{e.quantite}}</td>
                                    <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">{{e.prix}}</td>

                                    <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">

                                        <a href = " {{path ('commerce_supprimerProduit',{'id' : e.id}) }}"  class="btn btn-inverse-primary btn-fw">Supprimer</a>
                                        <a href = " {{path ('commerce_modifierProduit',{'id' : e.id}) }}"  class="btn btn-inverse-success btn-fw">Modifier</a>

                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>

                    <div class="jsgrid-pager">
                        {{ knp_pagination_render(posts) }}
                    </div>

                </div>

            </div>
        </div>

</div>
</div>
        {% endblock %}


